@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
}

main{
    background-color: white;
}

.imagem{
    padding-top: 5px;
    padding-left: 40px;
    margin-right: 20px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-left: 325px;
    margin-bottom: 60px;
    margin-top: -47px
}

nav ul li{
    display: inline-block;
}

a {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover {
    color: #616161;
}

.Quadro{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px;
    font-style: normal;
    color: white;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 20px;
}

.h2-modal{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: rgb(0, 0, 0);
}

label{
    margin-top: 70px;
    margin-left: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.Pendente{
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
}

.Andamento{
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
}

.Concluida{
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
}

.cabecalho-retangulo{
    background-color: #343434;
    width: 400px;
    height: 60px;
    z-index: 1;
}

.corpo-retangulo{
    background-color: #000000;
    width: 400px;
    height: 980px;
    margin-top: 5px;
    z-index: 2;
}

.menu-cabecalho{
    margin-left: 150px;
    width: 40px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    position: relative;
    font-size: 30px;
    border-radius: 5px;
    overflow: visible;
    line-height: 5px;
    transition: transform 0.5s ease;
}

.menu-cabecalho:hover{
    background-color: #ffffff9c;
    color: #000000;
    transform: scale(1.1);
}

.novo-Item{
    width: 300px;
    height: 25px;
    margin-left: 25px;
    font-size: 18px;
    top: 940px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    border: none;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    overflow: visible;
    line-height: 5px;
    transition: transform 0.5s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    z-index: 1;
}

.novo-Item:hover{
    transform: scale(1.1);
}

.modal-item{
    margin-bottom: 1rem;
    color: #000000;
}


#close-modal{
    padding: .6rem 1.2rem;
    background-color: #888;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .9;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
  #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 900px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    z-index: 10;
    border: 2px solid black;
  }
  
  #fade,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .modal-body p {
    margin-bottom: 1rem;
  }
  
  #modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide {
    top: 0;
  }

#titulo{
    margin-top: 50px;
    margin-left: 100px;
    width: 700px;
    height: 30px;
    border-radius: 5px;
    background-color: #737373;
    border: 2px solid black;
}

#label-desc{
    display: block;
}

#descricao{
    margin-left: 350px;
    width: 700px;
    height: 140px;
    border-radius: 5px;
    resize: none;
    background-color: #737373;
    border: 2px solid black;
}

#responsaveis{
    margin-top: 70px;
    margin-left: 130px;
    width: 700px;
    height: 30px;
    border-radius: 5px;
    background-color: #737373;
    border: 2px solid black;
}

#data-vencimento{
    margin-top: 70px;
    margin-left: 40px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #737373;
    border: 2px solid black;
}

input[type="date"] {
    color: white;
}

.organizando{
    display: flex;
    align-items: baseline;
}

#prioridade{
    margin-top: 70px;
    margin-left: 160px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #737373;
    border: 2px solid black;
}

#label-sts{
    margin-left: 125px;
}

#status{
    margin-left: 75px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #737373;
    border: 2px solid black;
}

select{
    color: white;
}

#botao{
    margin-left: 925px;
    margin-top: 70px;
}

#fechar-modal{
    overflow: visible;
    transition: transform 0.5s ease;
}

#fechar-modal:hover{
    background-color: #ffffff9c;
    color: #000000;
    transform: scale(1.1);
}

#confirmar{
    overflow: visible;
    transition: transform 0.5s ease;
}

#confirmar:hover{
    background-color: #ffffff9c;
    color: #000000;
    transform: scale(1.1);
}

button{
    width: 200px;
    height: 40px;
    border-radius: 7px;
    background-color: white;
    font-size: 15px;
}

.x{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    color: #9e9e9e;
    z-index: 1;
    cursor: pointer;
}

input[type="text"] {
    color: white;
}

textarea{
    color: white;
}


#confirmar{
    margin-left: 50px;
}


.tarefa {
    background-color: #737373;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: block;
}

.tarefa h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-top: 0;
    margin-top: -10px;
    margin-left: -4px;
}

.tarefa h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin-top: 5px;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
}

.tarefa h4{
    margin-top: 10px;
    color: #443c3c;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.tarefa:hover {
    cursor: move;
}

.hide {
    display: none;
}

.hovered {
    background-color: #f0f0f0;
}


#modal-confirmacao{

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 600px;
    max-width: 90%;
    background-color: #737373;
    padding: 1.2rem;
    border: 2px solid black;
    z-index: 11;
  }

  .modal-cancelar{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
  }

.modal-body-excluir{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

.corpo-excluir{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

#cancelar-exclusao{
    margin-top: 200px;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    background-color: white;
    font-size: 15px;
    overflow: visible;
    transition: transform 0.5s ease;
}

#cancelar-exclusao:hover{
    background-color: #ffffff9c;
    color: #000000;
    transform: scale(1.1);
}


#confirmar-exclusao{
    margin-left: 200px;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    background-color: white;
    font-size: 15px;
    overflow: visible;
    transition: transform 0.5s ease;
}

#confirmar-exclusao:hover{
    background-color: #ffffff9c;
    color: #000000;
    transform: scale(1.1);
}

.x-excluir{
    width: 20px;
    height: 20px;
    margin-left: 1050px;
    margin-top: 20px;
    color: #9e9e9e;
    z-index: 1;
    cursor: pointer;
}

.status-indicator {
    width: 25px;
    height: 6px;
    position: absolute;
    border: 1px solid #000; 
    margin-left: 330px;

}

.status-indicator.verde {
    background-color: green;
}


.status-indicator.cinza {
    background-color: gray;
}

.status-indicator.vermelho {
    background-color: red;
}



.menu-item {
    cursor: pointer;
    margin-left: 420px;
    margin-top: -1020px;
    height: 30px;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: none;
}

.Excluir-tarefas{
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding-top: 5px;
    overflow: visible;
    transition: transform 0.5s ease;
}

.Excluir-tarefas:hover{
    transform: scale(1.1);
}





@media (max-width: 1194px) {
    .Quadro {
        flex-direction: column;
        align-items: center;
    }

    .cabecalho-retangulo {
        margin-bottom: 1000px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        height: 5px;
    }

    nav li {
        margin-left: 0;
    }

    .imagem {
        padding: 5px;
        margin-right: 0;
        text-align: center;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }


    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }


    .novo-Item {
        width: 100%;
        font-size: 20px;
        margin: 20px 0;
        padding-left: 30px;
        margin-top: -200px;
    }

    .corpo-retangulo{
        background-color: #000000;
        width: 400px;
        height: 980px;
        margin-top: -1px;
        z-index: 2;
    }
}


@media  (max-width: 1531px) {
    #botao{
        margin-left: 705px;
        margin-top: 100px;
    }

    #modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 920px;
        max-width: 90%;
        background-color: #fff;
        padding: 1.2rem;
        z-index: 10;
        border: 2px solid black;
      }

}

@media  (max-width: 1288px) {
    #botao{
        margin-left: 605px;
        margin-top: 100px;
    }

    #modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 920px;
        max-width: 90%;
        background-color: #fff;
        padding: 1.2rem;
        z-index: 10;
        border: 2px solid black;
      }

}

@media  (max-width: 1182px) {
    #botao{
        margin-left: 340px;
        margin-top: 100px;
    }

    #modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 920px;
        max-width: 90%;
        background-color: #fff;
        padding: 1.2rem;
        z-index: 10;
        border: 2px solid black;
      }

      #titulo{
        margin-top: 50px;
        margin-left: 100px;
        width: 500px;
        height: 30px;
        border-radius: 5px;
        background-color: #737373;
        border: 2px solid black;
    }
    
    #label-desc{
        display: block;
    }
    
    #descricao{
        margin-left: 350px;
        width: 500px;
        height: 140px;
        border-radius: 5px;
        resize: none;
        background-color: #737373;
        border: 2px solid black;
    }
    
    #responsaveis{
        margin-top: 70px;
        margin-left: 130px;
        width: 500px;
        height: 30px;
        border-radius: 5px;
        background-color: #737373;
        border: 2px solid black;
    }
    
    #data-vencimento{
        margin-top: 70px;
        margin-left: 40px;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        background-color: #737373;
        border: 2px solid black;
    }

    .organizando{
        display: flex;
        align-items: baseline;
    }
    
    #prioridade{
        margin-top: 70px;
        margin-left: 160px;
        width: 150px;
        height: 30px;
    }
    
    
    #label-sts{
        margin-left: 85px;
    }

    #status{
        margin-left: 20px;
        width: 150px;
        height: 30px;
    }
}


@media  (max-width: 945px) {


    #botao{
        margin-left: 200px;
        margin-top: 120px;
    }

    #modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 980px;
        max-width: 90%;
        background-color: #fff;
        padding: 1.2rem;
        z-index: 10;
        border: 2px solid black;
      }

      #titulo{
        margin-top: 10px;
        margin-left: 185px;
        width: 500px;
        height: 30px;
    }

    #label-nome, #label-desc, #label-resp, #label-date, #label-prioridade, #label-sts{
        margin-left: 185px;
    }
    
    
    #descricao{
        margin-left: 185px;
        margin-top: 10px;
        width: 500px;
        height: 140px;
        resize: none;

    }
    
    #responsaveis{
        margin-top: 15px;
        margin-left: 185px;
        width: 500px;
        height: 30px;
        border-radius: 5px;
        background-color: #737373;
        border: 2px solid black;
    }
    
    #data-vencimento{
        margin-top: 50px;
        margin-left: 40px;
        width: 185px;
        height: 30px;
    }

    
    #prioridade{
        margin-top: 50px;
        margin-left: 160px;
        width: 185px;
        height: 30px;
    }

    .organizando{
        display: flex;
        flex-direction: column;
    }
    

    #status{
        margin-left: 210px;
        width: 185px;
        height: 30px;
        margin-top: 50px;
    }

    .modal-body p {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }


      #modal-confirmacao{

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 600px;
        max-width: 90%;
        background-color: #737373;
        padding: 1.2rem;
        border: 2px solid black;
        z-index: 11;
      }
}



@media  (max-width: 770px) {


    #botao{
        margin-left: 130px;
        margin-top: 120px;
    }


      #titulo{
        margin-top: 10px;
        margin-left: 100px;
        width: 500px;
        height: 30px;
    }

    #label-nome, #label-desc, #label-resp, #label-date, #label-prioridade, #label-sts{
        margin-left: 100px;
    }
    
    
    #descricao{
        margin-left: 100px;
        margin-top: 10px;
        width: 500px;
        height: 140px;
        resize: none;

    }
    
    #responsaveis{
        margin-top: 15px;
        margin-left: 100px;
        width: 500px;
        height: 30px;
        border-radius: 5px;
        background-color: #737373;
        border: 2px solid black;
    }
    
    #data-vencimento{
        margin-top: 50px;
        margin-left: 40px;
        width: 185px;
        height: 30px;
    }

    
    #prioridade{
        margin-top: 50px;
        margin-left: 160px;
        width: 185px;
        height: 30px;
    }

    .organizando{
        display: flex;
        flex-direction: column;
    }
    

    #status{
        margin-left: 210px;
        width: 185px;
        height: 30px;
        margin-top: 50px;
    }

    .modal-body p {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }


      #modal-confirmacao{

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 600px;
        max-width: 90%;
        background-color: #737373;
        padding: 1.2rem;
        border: 2px solid black;
        z-index: 11;
      }


      #cancelar-exclusao{
        margin-top: 150px;
        margin-left: 20px;
        width: 200px;
        height: 40px;
        border-radius: 7px;
        background-color: white;
        font-size: 15px;
        overflow: visible;
        transition: transform 0.5s ease;
    }
    
    
    #confirmar-exclusao{
        margin-left: 50px;
        width: 200px;
        height: 40px;
        border-radius: 7px;
        background-color: white;
        font-size: 15px;
        overflow: visible;
        transition: transform 0.5s ease;
    }
}


